* {
    margin: 0px;
    padding: 0px;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"] {
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 40%;
}

body {
    text-align: center;
    margin: 0px auto;
    width: 980px;
    height: 100%;
    /*background-color:#C0C0C0;*/
    background-color: #FDF4E2;
}

#header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

div#wrapper {
    margin: 0px;
    width: 980px;
}

@font-face {
    font-family: 'ALS Rubl';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/rouble.woff) format('woff');
}

@font-face {
    font-family: 'Lobster-Regular';
    font-style: normal;
    font-weight: normal;
    src: url(./fonts/Lobster-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    /* font-weight: normal; */
    src: url(./fonts/Oswald-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: normal;
    src: url(./fonts/Roboto-Light.ttf) format('truetype');
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto-Light';
    font-weight: 800;
}

/*h3 {
	color: #911E42;
	margin: 7px;
    }*/
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h2>a {
    font-family: Oswald;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0px;
    color: #911E42;
    font-weight: normal;
}

/*h6>a {
	font-family: 'Lobster-Regular';;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0px;
    color: #911E42;			
    }*/
a {
    text-decoration: none;
}

#line_1 {
    /*width:100%; */
    width: 980px;
    /*position:fixed;*/
    /*height: 40px;*/
    background: linear-gradient(to top, #911E42 20%, #A52A2A 50%, #911E42 80%);
    float: left;
    margin: 0 1px 0px 0;
    /*padding: 0 0 5px 0;*/
    font-size: 15px;
    text-align: center;
    letter-spacing: 0px;
    color: #FDEAA8;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    border-radius: 0 3px;
}

#line_3 {
    width: 750px;
    height: 200px;
    background: linear-gradient(to top, #FDEAA8 20%, #FDF4E3 50%, #FFFDD0 80%);
    float: left;
    margin: 0;
    color: #A52A2A;
    font-family: 'Roboto-Light';
    font-size: 14px;
    text-align: center;
    letter-spacing: 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
}

#onas a {
    color: #911E42;
    font-family: 'Roboto-Light';
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    text-shadow: 0.2px 0.2px 0.1px black, 0 0 0.3em red;
}

#onas p {
    color: #911E42;
    font-family: 'Roboto-Light';
    font-size: 14px;
    margin: 0 0 0 120px;
}

#onas a:hover,
#email a:hover,
#line_7 h2:hover,
.b1:hover,
pr:hover {
    filter: brightness(1.02);
    transition: 0.5s all;
}

#line_3 a img {
    position: absolute;
    top: 5px;
    left: 20px;
}

#line_3 img.heardb {
    position: absolute;
    left: 50px;
    top: 10px;
}

#new {
    position: absolute;
    top: 5px;
    left: 40px;
}

#email {
    position: absolute;
    top: 150px;
    left: 10px;
    text-shadow: 0.2px 0.2px 0.05px black, 0 0 0.4em red;
    display: flex;
    align-items: end;
}

#email a {
    color: #911E42;
}

#email a:hover {
    text-decoration: underline;
}

#line_4 {
    width: 230px;
    height: 200px;
    background: linear-gradient(to top, #FDEAA8 20%, #FDF4E3 50%, #FFFDD0 80%);
    float: left;
    color: #A52A2A;
    font-family: 'Roboto-Light';
    font-size: 14px;
    text-align: center;
    text-shadow: 0.1px 0.1px 0.1px black;
    position: relative;
}

/*#slides img {
    filter: drop-shadow(0 0 5px rgba(100, 0, 0, 0.5));
}*/

.cv {
    color: #A52A2A;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    90% {
        transform: translate(-90%, 0)
    }
}

#conteiner {
    width: 980px;
    margin: 0 auto;
    display: table;
    min-height: calc(100vh - 65px);
}

#line_6 {
    width: 200px;
    background: linear-gradient(to top, #FDEAA8 20%, #FDF4E3 50%, #FFFDD0 80%);
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

#line_7 {
    width: 567px;
    background: LightGoldenrodYellow;
    /*background: linear-gradient(to top, LightGoldenrodYellow 10%, LightGoldenrodYellow 60%, Cornsilk 20%);*/
    display: table-cell;
    margin: 0 1px 1px 1px;
    text-align: center;
    vertical-align: top;
    padding: 0 1px 1px 10px;
}

#line_7 p {
    text-align: justify;
    text-indent: 18px;
    padding: 1%;
    padding-bottom: 20px;
}

#line_7 pre {
    text-align: center;
}

#line_7 img {
    max-width: 99%;
    height: auto;
    text-align: justify;
    border-radius: 3px;
}

#line_7 h2 {
    margin: 2px auto;
    font-family: 'Roboto-Light';
    /*font-size: 14px;*/
    text-align: center;
    letter-spacing: 4px;
    color: #911E42;
    text-decoration: none;
    padding-top: 25px;
}

.va {
    color: Maroon;
    background: NavajoWhite;
}

.va:hover {
    text-decoration: underline;
}

.poz {
    margin: 2%;
    float: left;
    /*transition: width 2s;*/
}

/*.poz:hover {
    width:1%;
    }    */
#sa {
    transition: width 1s;
}

#sa:hover {
    /*width:101%;*/
}

#tel1,
#tel2 {
    float: left;
    margin-left: 170px;
    margin-top: 7px;
}

.ks1 input {
    width: 20%;
}

#line_7 p {
    line-height: 100%;
    font-family: 'Roboto-Light';
    font-weight: 300;
}

#line_8 {
    width: 211px;
    background: linear-gradient(to top, #FDEAA8 20%, #FDF4E3 50%, #FFFDD0 80%);
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

#line_8 img {
    border-radius: 3px;
}

.pos {
    font-family: 'Roboto-Light';
    font-size: 20px;
    color: crimson;
}

#line_9 {
    width: 100%;
    height: 65px;
    background: linear-gradient(to top, #911E42 20%, #A52A2A 50%, #911E42 80%);
    /*text-align:center;*/
    color: #FDEAA8;
    /*padding: 5px; */
    position: relative;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}

#sc {
    float: left;
}

#pic {
    position: absolute;
    left: 300px;
    border-radius: 2px;
}

#text {
    padding: 10px 10px 10px 10px;
}

#navbar {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
    width: 200px;
    padding-bottom: 25px;
}

#navbar li {
    border-bottom: 1px solid #FFFFFF;
}

#navbar a {
    background: linear-gradient(to top, #911E42 20%, #A52A2A 50%, #911E42 80%);
    font-family: Oswald;
    color: #FDEAA8;
    padding: 5px;
    text-decoration: none;
    /* font-weight: bold; */
    display: block;
    /* text-shadow: 1px 1px 2px black, 0 0 1em red; */
    border-radius: 0 5px;
    letter-spacing: 1px;
}

/*#slides {
    float: left;
    margin-left: 10px;
    margin-top: 7px;
}

#slides a {
    color: #000;
}*/

.d-td img:hover {
    width: 101%;
    height: 101%;
    transition: 0.5s all;
}

.d-td1 img:hover {
    width: 101%;
    height: 101%;
    ;
}

* {
    box-sizing: border-box;
}

.d-table {
    display: table;
    width: 210px;
    height: 210px;
    border-collapse: collapse;
}

.d-tr {
    display: table-row;
    width: 69px;
    height: 69px;
}

.d-td {
    display: table-cell;
    width: 69px;
    height: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    border: none;
}

.d-table1 {
    display: table;
    width: 567px;
    height: 400px;
    border-collapse: collapse;
}

.d-tr1 {
    display: table-row;
    width: 187px;
    height: 180px;
}

.d-td1 {
    display: table-cell;
    width: 187px;
    height: 180px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    border: none;
    border: 0px solid #ccc;
}

form.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    row-gap: 10px;
    margin: 10px 10px;
}

input,
textarea {
    padding: 0.4rem;
    width: 80%;
}

button {
    margin-top: 2rem;
}

#sch1 a img,
#sch2 a img,
#sch3 a img,
#sch4 a img,
#sch5 a img {
    opacity: 0.7;
}

/*#line_9 h4 {
    position:absolute;
    bottom:25px;
    left:385px;
    }*/
#sch1 {
    position: absolute;
    bottom: 12px;
    left: 15px;
}

#sch2 {
    position: absolute;
    bottom: 12px;
    left: 118px;
}

#sch3 {
    position: absolute;
    bottom: 12px;
    right: 15px;
}

#sch4 {
    position: absolute;
    bottom: 12px;
    right: 118px;
}

#sch5 {
    position: absolute;
    bottom: 12px;
    left: 225px;
}

#page {
    display: block;
    padding: 1px 1px 1px 1px;
    margin-right: 1%;
    color: #696969;
    min-width: 10%;
    height: 25px;
    text-align: center;
    font-size: 18px;
}

h4#page>a {
    color: #696969;
}

.b2 {
    background: #911E42;
    color: #FFFDD0;
    font-size: 16pt;
}

.error {
    color: #FF003C;
    text-align: right;
}

.b1 {
    background: linear-gradient(to top, #911E42 20%, #A52A2A 50%, #911E42 80%);
    font-family: 'Roboto-Light';
    color: #FFFDD0;
    width: 180px;
    height: 40px;
    font-size: 14pt;
    border-radius: 5px;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    cursor: pointer;
}

.b1:hover {
    text-decoration: underline;
}

#ot {
    border: 2px solid #1A7889;
    border-radius: 10px;
    background: #fc3;
    /* Цвет фона */
    padding: 10px;
    /* Поля вокруг текста */
}

#sch1 a:hover img,
#sch2 a:hover img,
#sch3 a:hover img,
#sch4 a:hover img,
#sch5 a:hover img {
    opacity: 1.0;
}

#line_7 img,
.poz,
#line_8 img {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border: 0.1px solid #2C4480;
}

#line_1,
#line_9 {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border: 0.1px solid #911E42;
}

#conteiner,
#line_5 {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: 0.1px solid #FFFDD0;
}

INPUT:focus {
    border-radius: 3px;
    border: 0.1px solid #2C4480;
    box-shadow: 0 0 0.25px 0.25px rgba(0, 0, 0, 0.25)
}

hr.style-eight {
    overflow: visible;
    /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #A52A2A;
    color: #A52A2A;
    text-align: center;
}

hr.style-eight:after {
    content: "\2605 \2605 \2605 \2605 \2605";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 0.9em;
    padding: 0 0.15em;
    background: #FFFDD0;
}

@-webkit-keyframes blink6 {
    10% {
        transform: scale(1, 1) rotate(80deg);
    }

    10% {
        transform: scale(0, 0) rotate(160deg);
    }

    100% {
        transform: scale(0, 0) rotate(0deg);
    }
}

@keyframes blink6 {
    10% {
        transform: scale(1, 1) rotate(80deg);
    }

    10% {
        transform: scale(0, 0) rotate(160deg);
    }

    100% {
        transform: scale(0, 0) rotate(0deg);
    }
}

#blink6 {
    position: relative;
    display: inline-block;
    color: #911E42;
    text-shadow: 0 0 10px #3d7a97;
    background: #FFFDD0;
}

#blink6:after,
#blink6:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 100px;
    background-image: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 30%), linear-gradient(45deg, rgba(0, 0, 0, 0) 49%, rgba(255, 255, 255, .4) 50%, rgba(0, 0, 0, 0) 51%), linear-gradient(135deg, rgba(0, 0, 0, 0) 49%, rgba(255, 255, 255, .4) 50%, rgba(0, 0, 0, 0) 51%);
    animation: blink6 10s linear infinite;
    transform: scale(0, 0) rotate(0deg);
}

#blink6:before {
    top: -30%;
    right: 0;
    left: auto;
}

#line_3 img {
    filter: drop-shadow(0 0 5px rgba(100, 0, 0, 0.5));
}

#pr {
    color: #4a76a8;
    font-size: 1.2em;
    border: 1px solid #1A7889;
    border-radius: 5px;
    background: #E4F3FF;
}

#fon {
    background-image: url(images/20.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.d39 {
    position: relative;
    width: 3em;
    height: 3em;
    margin: 0.51em;
    background: #D5DEE9;
    border-width: 0.25em;
    border-style: solid;
    border-color: #6E839E;
    border-radius: 50% 50% 0 0;
}

.d39:before,
.d39:after {
    content: "";
    position: absolute;
    bottom: -0.25em;
    background: inherit;
    border-width: 0.25em;
    border-style: solid;
    border-color: #6E839E;
}

.d39:before {
    left: 80%;
    width: 60%;
    height: 60%;
    border-left: none;
    border-radius: 50% 50% 50% 0;
}

.d39:after {
    right: 80%;
    width: 80%;
    height: 80%;
    border-right: none;
    border-radius: 50% 50% 0;
}

#gl {
    color: crimson;
    font-size: 15px
}

#kl {
    border: 2px solid #1E90FF;
    padding: 13px;
    margin-bottom: 15px;
    color: green;
    border-image: linear-gradient(to right, currentColor 50%, currentColor 200px, red 100px, red 50%) 1 1 2;
    font-size: 15px
}

#sn {
    border: 2px solid #1E90FF;
    padding: 13px;
    margin-bottom: 15px;
    color: green;
    border-image: linear-gradient(90deg, #fff, #fff 33%, #0039a6 0, #0039a6 66%, #d52b1e 0, #d52b1e) 1;
    font-size: 15px
}

#r {
    color: #a52A2A;
    font-size: 12pt;
}

.kn {
    background: linear-gradient(to top, #911E42 20%, #A52A2A 50%, #911E42 80%);
    font-family: 'Roboto-Light';
    color: #FFFDD0;
    width: 85px;
    font-size: 10pt;
    border-radius: 5px;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    cursor: pointer;
    margin-top: 10px;
}

@media print {
    body {
        background: #fff;
        font-size: 1em;
    }

    #line_1,
    #line_2,
    #line_3,
    #line_4,
    #line_5,
    #line_6,
    #line_8 {
        display: none
    }

    #line_7 {
        padding: 0;
        margin: 0
    }
}

#rs {
    max-width: 100%;
    height: auto;
    display: block;
}

.ks {
    font-size: 18px;
    color: #911E42;
}

.ks1 {
    font-size: 16px;
    color: #1A7889;
    margin-left: 18px;
    text-align: left;
}

.it {
    font-size: 16px;
    color: green;
    margin-left: 18px;
    text-align: left;
}

.dsv1-td {
    width: 10px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn1-td {
    width: 10px;
    height: 20px;
    border: none;
}

.dsv2-td {
    width: 30px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn2-td {
    width: 30px;
    height: 20px;
    border: none;
    text-align: right;
    float: right;
}

.dsv3-td {
    width: 40px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn3-td {
    width: 40px;
    height: 20px;
    border: none;
}

.dsv4-td {
    width: 30px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn4-td {
    width: 30px;
    height: 20px;
    border: none;
}

.dsv5-td {
    width: 30px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn5-td {
    width: 30px;
    height: 20px;
    border: none;
}

.dsv6-td {
    width: 65px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn6-td {
    width: 65px;
    height: 20px;
    border: none;
}

.dsv7-td {
    width: 55px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn7-td {
    width: 55px;
    height: 20px;
    border: none;
}

.dsv8-td {
    width: 70px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn8-td {
    width: 70px;
    height: 20px;
    border: none;
}

.dsv9-td {
    width: 60px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn9-td {
    width: 60px;
    height: 20px;
    border: none;
}

.dsv10-td {
    width: 100px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn10-td {
    width: 60px;
    height: 20px;
    border: none;
}

.dsv11-td {
    width: 100px;
    height: 40px;
    border: 1px solid #98bf21;
}

.dsn11-td {
    width: 100px;
    height: 20px;
    border: none;
}

.dsv12-td {
    width: 100px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn12-td {
    width: 80px;
    height: 20px;
    border: none;
}

.dsv13-td {
    width: 120px;
    height: 20px;
    border: 1px solid #98bf21;
}

.dsn13-td {
    width: 120px;
    height: 20px;
    border: none;
}

#line_7 h6 {
    text-align: left;
    font-size: 12px;
    color: #911E42;
}

.co {
    /* color: crimson; font-size: 1.0em; */
}

.otz {
    width: 50%;
}

#vk_post_-37423296_8365 {
    float: left;
}

#vk_post_-37423296_8445 {
    float: left;
}

/*#karta {pointer-events: none;}*/
big,
strong {
    color: red;
}

.w3-button {
    margin: 1%;
}

#vk_post_-37423296_9129 {
    display: block;
    margin: 0 auto;
}

.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
}

.pageup img {
    width: 100%;
}

.pagedown {
    display: none;
    position: fixed;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
}

.pagedown img {
    width: 100%;
    transform: rotate(180deg);
}

.in {

    width: 40px;
    height: 40px;
}

.in img {
    width: 40px;
}

.vk {

    width: 40px;
    height: 40px;
}

.vk img {
    width: 40px;
}

.invk {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@keyframes heartbeat {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.01);
    }

    to {
        transform: scale(1);
    }
}

.heardb {
    animation: heartbeat 3.0s ease infinite;
}

.heardb:hover {
    animation-play-state: paused;
}

.timer-numbers {
    color: #c78030;
    font-size: 25px;
    background-color: Cornsilk;
    color: maroon;
    /* Цвет текста */
    font-weight: 600;
    /* Жирное начертание */
}

.dn .hours .minutes .seconds {
    color: maroon;
    /* Цвет текста */
    font-weight: 600;
    /* Жирное начертание */
    font-size: 250%;
}

/*Слайдер #line_4*/
#line_4 img {
    width: 160px;
    height: 105px;
    object-fit: cover;
}

#line_4 .carousel {
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: 20px auto;
}

#line_4 .image-container>:nth-child(1) {
    display: flex;
    justify-content: center;
    transform: translateX(0);
    transition: transform 1.5s ease-in-out;
    margin-bottom: 5px;
}

#line_4 .buttons-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    height: 10px;
}

#line_4 .buttons-container .btn {
    display: none;
    width: 30%;
    border: 1px solid black;
    /*background-color: white;*/
    font-size: 16px;
    cursor: pointer;
    border-color: #2196F3;
    color: dodgerblue;
}

#line_4 .buttons-container .btn:hover {
    opacity: 0.8;
}

#line_4 .buttons-container .btn:focus {
    outline: none;
}

/*------------------*/

@media only screen and (min-width : 320px) and (max-width : 576px) {
/*@media only screen (max-width: 576px) {*/
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    #wrapper {
        max-width: 100%;
    }
    
    #header {
        position: static;
    }

    #line_1 {
        max-width: 100%;
    }

    #line_1 h1 {
        margin-left: 1%;
        text-align: center;
        font-size: 130%;
        padding: 2%;
    }

    #header-h1 {
        min-width: 10%;
        background: linear-gradient(to top, #911E42 20%, #A52A2A 50%, #911E42 80%);
        float: left;
        margin: 0 1px 0px 0;
    }

    #pic {
        display: none;
    }

    #line_3 {
        max-width: 100%;
        display: flex;
    }

    /*#line_3 img {*/
    /*    text-align: center;*/
    /*}*/
    #line_3 img.heardb {
    left: 100px;
    }

    #email {
        /*margin-top: 3%;*/
        gap: 30px;
        /*text-align: center;*/
        /*margin-left: 20%;*/
    }

    #line_3 p {
        padding-left: 10%;
        text-align: center;
    }

    #line_4 {
        display: none;
    }

    #line_5 {
        display: none;
    }

    #conteiner {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0%;
    }

    #line_6 {
        display: flex;
        max-width: 100%;
        width: auto;
    }

    #navbar {
        /*max-width: 100%;*/
        width: 100%;
        padding-bottom: 0px;
    }

    /*#navbar a {
        text-align: left;
        padding-left: 15%;
    }*/

    #line_6 #s {
        display: none;
    }

    #line_6 form {
        display: none;
    }

    #line_6 p {
        display: none;
    }

    #line_6 h3 {
        display: none;
    }

    #line_6 .invk {
        display: none;
    }

    #line_6 .in {
        display: none;
    }

    #line_6 .vk {
        display: none;
    }

    #line_6 #upbutton {
        display: none;
    }

    #line_6 #up {
        display: none;
    }

    #rs {
        display: none;
    }

    .pluso-counter b {
        display: none;
    }

    #line_6 .pluso-wrap {
        display: none;
    }

    #line_6 iframe {
        display: none;
    }

    br {
        display: none;
    }

    /*#line_6 a.prcy {display: block;max-width: 1%;}*/
    #line_6 #prcyru-sqi-counter {
        display: block;
        margin: 0 auto;
        max-width: 7%;
    }

    #line_7 {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        padding-right: 10%;
        margin: 0%;
    }

    #page {
        display: flex;
        padding-left: 20%;
        margin: 5%;
        min-width: 10%;
    }

    #line_8 {
        display: none;
    }

    #line_9 {
        display: none;
    }
}
/*@media only screen and (max-width : 576px) and (max-width: 768px) {*/
/*    #header {*/
/*        position: static;*/
/*    }*/
/*    }*/